/*Fonts*/



/*html*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f3f2f1;
}

img {
    width: 100%;
}

figure {
    margin: 0;
}

.bjerg {
    position: absolute;
    background-image: url(img/logo/bjerg.svg);
    width: 100vw;
    height: 26%;
    padding: 20px;
    background-repeat: no-repeat;
}

#bjerg_container {
    height: auto;
    width: 100%;
    overflow: hidden;
}




/*Menu / Burger menu*/

#menu {
    transition: transform .3s;
    transform-origin: top;
    position: fixed;
    right: 0;
    top: ;
    background-color: #f3f2f1;
    width: 100%;
    height: 100%;
    z-index: 50;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu a {
    margin: 10px 0 50px;
}

#menu a:nth-child(1) {
    margin-top: 40px;
}


#menuknap {
    display: inline-block;
    z-index: 100;
    right: 10vw;
    position: fixed;
    color: #35393E;
    cursor: pointer;


    font-family: quicksand, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;

    width: 40px;
    height: 40px;
    text-align: center;

}

#menuknap:hover {
    color: #2c80c5;
}


.hidden {
    transform: translateX(100%);
    opacity: 0;
}


header {
    display: flex;
    justify-content: space-between;
    background-color: #f3f2f1;
    border: solid 1px #52514F;
    padding: 1vw;

    position: sticky;
    top: 0;

    z-index: 99;
}

#logo {
    width: 250px;
}

button {
    background-color: transparent;
    border: none;
    margin: 0 20px;
    color: black;

    float: right;

    font-size: 1.5rem;
    transform: scale(1);
    transition: .5s;

}

a:hover {
    transform: scale(1.1);
    transition: .5s;
    color: #2c80c5;


}

#menu button:active {
    color: #2c80c5;
}

.search {
    width: 1.3rem;
}

button:hover {
    transform: scale(1.1);
    transition: .5s;
    color: #2c80c5;

}

#menu button:hover {
    transform: scale(1.1);
    transition: .5s;
    color: #2c80c5;

}


/*MENU I WEB*/
@media only screen and (min-width: 1080px) {

    #nav {
        display: flex;
        align-items: center;
    }


    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }

    #menu a {
        margin: 0px 0 0px;
    }

    #menu a:nth-child(1) {
        margin-top: 0px;
    }

    header #menu {
        justify-content: space-between;
        background-color: none;
        width: 50%;
        height: 70px;
        z-index: 40;
        padding: 1rem;
        display: flex;
        flex-direction: row;
    }


    #menuknap {
        display: none;
    }

    #menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        float: right;

        width: 50%;

        padding: 0 20px;
    }

    #menu button {
        font-family: interstate, sans-serif;
        font-weight: 500;
        font-style: normal;
        color: #35393e;
        font-size: 1.2rem;
        text-transform: uppercase;

    }


    header {
        display: flex;
        justify-content: space-between;
        background-color: #f3f2f1;
        border: solid 1px #52514F;
        padding: 1vw;

        position: sticky;
        top: 0;
    }

    #logo {
        width: 250px;
        z-index: 100;
    }


    button {
        background-color: transparent;
        border: none;
        /*    margin: 0 20px;*/
        color: black;

        float: right;

        font-size: 1.5rem;
        transform: scale(1);
        transition: .5s;
        cursor: pointer;
    }

    button:hover {
        transform: scale(1.1);
        transition: .5s;
        color: #2c80c5;

    }

    #menu button:hover {
        transform: scale(1.1);
        transition: .5s;
        color: #2c80c5;

    }


    #menu a:active {
        color: #2c80c5;

    }


    .search {
        width: 1.3rem;
    }


}


/*Home Page*/

#bjerg {
    padding: 20px;
}

#welcome {
    display: flex;
    flex-direction: row;

    padding: 20px;
}

/*Cykler*/

#cykler_overskrift {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

#cykler_overskrift h1 {
    font-family: roc-grotesk-extrawide, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 10vw;
    letter-spacing: 1.5rem;
    margin: 0;

}



#cykel .title {
    font-family: interstate, sans-serif;
    font-weight: 100;
    font-size: 1rem;
    color: #52514F;
}

#cykel img {
    width: 100%;
}


#cykel {
    padding: 0.5rem;
}

#alleCykler {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 20px;
}

#cyklerTemplate {}

/*Cykler Singleview*/

#singleCykel {
    /*    display: flex;*/
    /*    justify-content: space-around;*/
}

.first_part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.first_part img {
    height: 50vw;
    width: auto;
    float: right;
    opacity: 0.5;
    position: relative;
    /*    grid-column-start: 2;*/

}

.first_part .title {
    font-family: interstate, sans-serif;
    font-weight: 100;
    font-size: 2rem;
    color: #2c80c5;
    justify-self: center;
}

.second_part {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

.second_part span {
    color: #35393e;
}



#singleCykel h3 {
    font-family: interstate, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #b1b1b1;
    font-size: 1.3rem;
    text-transform: uppercase;
}



/*FILTER KNAPPER*/

/*
#cykel_sortering {
    display: flex;
    flex-direction: column;
}
*/

#filter_knapper {
    display: grid;
    grid-template-rows: 1fr;
    margin-bottom: 20px;
    grid-gap: 15px;
    position: relative;
}

/*Koga*/



#filter_knapper button {
    border-radius: 5%;
    font-weight: 100;

}

.filter_valgt {
    color: #0E7DC7;
}

/*Koga*/


.filosofi_overskrift {
    font-family: roc-grotesk-extrawide, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #52514F;
}


.koga_container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
<<<<<<< HEAD
}



.koga_quote {
    grid-column: 1 / span 1;
    grid-row: 2;
    padding: 2rem;

    font-family: interstate-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
=======

}

.koga_container h2 {
    font-family: interstate, sans-serif;
    font-weight: 100;
    font-size: 1rem;
>>>>>>> origin/master
    color: #52514F;
    padding: 20px;
}

.first_koga {
    grid-column: 1 /span 1;
}

<<<<<<< HEAD


.koga_punch {
    grid-column: 1 / span 1;
    grid-row: 2;
    padding: 3rem;

    font-family: interstate, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #52514F;
    font-size: 1rem;
}

.koga_tekst {
    grid-column: 2 / span 4;
    grid-row: 2;
    padding: 3rem;

=======
.second_koga {
    grid-column: 2 /span 4;
}

.koga_qoute {
>>>>>>> origin/master
    font-family: interstate, sans-serif;
    font-weight: 500;
    font-size: 4rem;
    color: #52514F;
    text-transform: uppercase;
}

.koga_overskrift {}

.koga_tekst {}

/*Koga*/


/*Om Os*/

#about {
    padding: 30px;
    display: grid;
    grid-auto-columns: 1fr 1fr;
}

.about_container_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*    grid-template-rows: 1fr 1fr;*/
}

.about_container_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*    grid-template-rows: 1fr 1fr;*/
}

.about_overskrift {
    font-family: interstate, sans-serif;
    font-weight: 100;
    font-size: 2rem;
    color: #52514F;
}

.left_side {
    grid-column: 1;
    max-width: 500px;
    padding: 20px;
}

.right_side {
    grid-column: 2;
    max-width: 500px;
    padding: 20px;
}

#about h2 {
    font-family: interstate, sans-serif;
    font-weight: 100;
    font-size: 2rem;
    color: #52514F;
}

#about h3 {
    font-family: interstate, sans-serif;
    font-weight: 100;
    font-size: 1rem;
    color: #52514F;
}


/*Footer*/

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 10px;
    border: solid 1px #52514F;
}

#mykogaandi h2 {
    font-family: interstate, sans-serif;
    font-weight: 100;
    font-style: italic;
    font-size: 1.3rem;
}

#citat h2 {
    font-family: interstate, sans-serif;
    font-weight: 100;
    font-style: italic;
    font-size: 1rem;
    opacity: 0.5;
}

#social_media {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    width: 20%;

    /*    float: right;*/
}

footer figure img {
    height: 1.5rem;
}

/* MEDIA QUERIES */


@media screen and (min-width: 880px) {
    /*
    #cykler_overskrift h1 {
        font-size: 7rem;
        letter-spacing: 4rem;
    }
*/

    #alleCykler {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    #filter_knapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        margin-bottom: 20px;
        grid-gap: 0px
    }

    .koga_container {
        grid-template-areas:
            " sidebar main main main";
    }

}

@media screen and(min-width: 800px) {
    .koga_container {
        grid-template-areas:
            "sidebar"
            " main";
    }
}

/*Kontakt*/

/*
.kontakt h1 {
    font-family: interstate, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #8e8e8e;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 10px;
}
*/

.kontakt_liste {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.kontakt_overskrift {
    font-family: interstate, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #8e8e8e;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 10px;
}

.kontakt_tekst {
    font-family: interstate, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: black;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.kontakt_tekst p {
    margin: 10px;
}


/*Google Maps*/

.mapouter {
    position: relative;
    text-align: right;
    height: 400px;
    width: 600px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 400px;
    width: 600px;
    /*    align-self: center;*/

}
